*{ /*Código de Reset da página*/
    margin: 0; /*margem externa do body*/
    padding: 0;/*margem interna do body*/
}

@import url('https://fonts.googleapis.com/css2?family=Voces&display=swap');

body{
    font-family: "Voces", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
    
}
.cabecalho-titulo{
    padding-left:30px; /*espaço interno da esquerda do elemento*/
}
span{
    font-weight: bold; /*negrito no texto envolvido pelo span*/
    color:green;/*cor do texto de span*/
}
.cabecalho-menu{
    display: flex;
}
.cabecalho-menu-texto{
    padding: 10px; /*espaço interno do elemento*/
}
.cabecalho-botao{
    background-color: black;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.9rem;
    transition: transform 0.2s;
}

.conteudo-principal{
    background-color: aquamarine;
}

.conteudo-principal-secao-problema{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 5%;
    min-height: 80vh;
    gap: 30px;
}

.imagem-problema{
    width: 100%;
    max-width:550px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 8px 24px;
}

.conteudo-principal-secao-desafio{
    width: 90%;
    max-width: 1200,px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
}

.secao-problema-imagem{
    padding:50px;
    text-align: center;
}

.imagem-desafio{
    width: 100%;
    max-width:550px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 8px 24px;
}



